<div class="center jumbotron">
	<h1>Welcome to the Dating App</h1>
	<h2>
		Are you single and ready to mingle?
	</h2>	

	<%= link_to "Sign Up Now!", new_user_registration_path, class: 'btn btn-lg btn-primary' %>
</div>

<div>
  <%= Profile.last.name %>

</div>